.idea/
largeFile.txt
logFile.txt
order-system.iml
src/main/java/com/alibaba/middleware/race/.DS_Store
src/main/java/com/alibaba/middleware/race/learn/
target/
testFileDir/
pythonTools/.Python
MARKDOWN_FORMAT_URLS.txt
.Python
dir1/
dir2/
dir0/
dir0tianchi
pythonTools/include/
pythonTools/bin/
pythonTools/lib/
pythonTools/pip-selfcheck.json
pip-selfcheck.json
